<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="description" content="The objective of this cloud-based app is to establish a comprehensive CI/CD pipeline for the entire lifecycle.">
    <meta name="keywords" content="Thymeleaf, Java, Spring Boot, NCI-2025, DevOpsSec, Mini-ERP, Products">
    <meta name="author" content="Sergio Oliveira">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Boostrap    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <title>Inventory Management | DevOpsSec CA 2025</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a th:href="@{/index}" class="navbar-brand">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/inventory}">Inventory</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-3">

        <form th:action="@{/inventory/insert}" th:object="${item}" method="post">
            <div class="row g-3">
                <div class="form-group col-12 col-md-12 mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input th:field="*{description}" type="text" class="form-control" id="description" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 col-md-6 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input th:field="*{price}" type="number" class="form-control" id="price" step="0.01" placeholder="#.##" required>
                </div>

                <div class="form-group col-12 col-md-6 mb-3">
                    <label for="quantity" class="form-label">Quantity Available</label>
                    <input th:field="*{quantity}" type="number" class="form-control" id="quantity" placeholder="#" required>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-dark">Create</button>
            </div>
        </form>


        <div th:if="${message}" class="alert alert-danger mt-3" role="alert">
            <strong>Message:</strong>
            <span th:text="${message}"></span>
        </div>

        <table class="mt-5 table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Created</th>
                <th>Updated</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="item : ${items}">
                    <th th:text="${item.id}"></th>
                    <th th:text="${item.description}"></th>
                    <th th:text="${item.price}"></th>
                    <th th:text="${item.quantity}"></th>
                    <th th:text="${item.created}"></th>
                    <th th:text="${item.updated}"></th>
                    <th>
                        <a th:href="@{'/inventory/' + ${item.id}}" class="btn btn-secondary">Edit</a>
                    </th>
                </tr>
            </tbody>
        </table>


        <!--    MODAL   -->
        <div th:if="${openEditModal}">
            <div class="modal" tabindex="-1"  th:classappend="${openEditModal} ? 'show'"
                 th:style="${openEditModal} ? 'display: block'">

                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Product</h5>
                            <a th:href="@{/inventory}" class="btn-close" aria-label="Close"></a>
                        </div>
                        <div class="modal-body" th:object="${item}">
                            <form id="editForm">

                                <div class="modal-body">
                                    <input type="hidden" id="edit-id" th:field="*{id}">

                                    <div class="mb-3">
                                        <label for="edit-description" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="edit-description" th:field="*{description}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="edit-price" class="form-label">Price</label>
                                        <input type="number" class="form-control" id="edit-price" th:field="*{price}" step="0.01">
                                    </div>

                                    <div class="mb-3">
                                        <label for="edit-quantity" class="form-label">Quantity</label>
                                        <input type="number" class="form-control" id="edit-quantity" th:field="*{quantity}">
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="col-12 btn btn-primary">Save changes</button>
                                </div>
                            </form>
                            <a th:href="@{'/inventory/confirm-delete/' + ${item.id}}" class="d-grid gap-2 col-3 mx-auto btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Delete-->
        <div th:if="${openDeleteModal}">
            <div class="modal" tabindex="-1"  th:classappend="${openDeleteModal} ? 'show'"
                 th:style="${openDeleteModal} ? 'display: block'">

                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete Product</h5>
                            <a th:href="@{/inventory}" class="btn-close" aria-label="Close"></a>
                        </div>

                        <div class="modal-body" th:object="${item}">
                            <form th:action="@{'/inventory/delete/' + ${item.id}}" method="post" id="deleteForm">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="delete-description" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="delete-description" th:field="*{description}" readonly>
                                    </div>
                                </div>
                                <p class="alert alert-danger mt-3">Would you like to permanently delete this?</p>
                                <div class="modal-footer">
                                    <button type="submit" class="col-12 btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div th:replace="~{fragments/footer :: footer}"></div>

    </footer>

    <!--    Boostrap    -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>

</body>
</html>